*,
html {
  box-sizing: border-box;
}
.visually-hid {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 1);
  background-image: url("img/index-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
.page.inner {
  color: #000000;

  background-color: #f9f6f3;
  background-image: url("img/bg-texture.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

.headline {
  font-size: 30px;
  line-height: 42px;
}

.btn {
  font: inherit;

  text-align: center;
  color: rgba(255, 255, 255, 1);
  vertical-align: middle;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 1);
  border: none;
}
.btn:hover,
.btn:focus,
.btn:active {
  background-color: rgba(102, 61, 21, 1);
}

.header {
  margin-bottom: 75px;
}
.inner .header {
  margin-bottom: 50px;

  background-color: rgba(0, 0, 0, 1);
  /* Временно для сетки */
  min-height: 70px;
  /* Временно для сетки */
}
.logo {
  order: 2;
  width: 368px;
  height: 153px;
}
.inner .logo {
  order: 0;
  width: 111px;
  height: 24px;
  padding: 23px 20px;
}
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);

  background-color: transparent;
}
.inner .main-nav {
  flex-direction: row;
  align-items: flex-start;
  /* Временно для сетки */
  min-height: 70px;
  /* Временно для сетки */
}
.main-nav-wrapper {
  width: 100%;
  margin-bottom: 60px;

  background-color: rgba(0, 0, 0, 1);

}
.main-nav-wrapper .container {
  display: flex;
  justify-content: space-between;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.site-nav {
  width: 620px;
}
.user-nav {
  width: 140px;
}
.inner .user-nav {
  margin-left: auto;
}
.site-nav,
.user-nav {
  margin: 0;
  padding: 0;

  list-style: none;
}
.site-nav a,
.user-nav a {
  color: rgba(255, 255, 255, 1);
}
.site-nav a:hover,
.site-nav a:focus,
.user-nav a:hover,
.user-nav a:focus {
  background-color: rgba(36, 36, 36, 1);
}

.features {
  margin-bottom: 80px;
}
.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}
.features-item {
  width: 300px;

  text-align: center;
}
.features-item h3 {
  font-size: 30px;
  line-height: 42px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;
  color: rgba(0, 0, 0, 1);

  background-color: rgba(248, 245, 242, 1);
  background-image: url("img/bg-texture.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}
.news {
  width: 380px;
}
.gallery {
  width: 300px;
}
.news-list {
  list-style: none;
}
.news-item time {
  text-transform: none;
}
.gallery-list {
  list-style: none;
}
.mid-image,
.gallery-item a {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.gallery-item a:hover,
.gallery-item a:focus {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}
.gallery-content {
  background-color: rgba(204, 204, 204, 1);
  border: 7px solid rgba(255, 255, 255, 1);
}

.contacts {
  width: 380px;
}
.appointment {
  width: 300px;
}
.appoint-field {
  font: inherit;

  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 1);
}
.appoint-field:focus {
  border-color: rgba(102, 61, 21, 1);
}

.headline-main {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  /* Временно для сетки */
  min-height: 42px;
  /* Временно для сетки */

  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  /* Временно для сетки */
  min-height: 24px;
  /* Временно для сетки */

  list-style: none;
}
.breadcrumbs-link {
  color: rgba(0, 0, 0, 1);
}
.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  color: rgba(102, 61, 21, 1);
}
.breadcrumbs-current {
  color: rgba(171, 169, 167, 1);
}
.breadcrumbs-current:hover,
.breadcrumbs-current:focus {
  color: rgba(171, 169, 167, 1);
}
.catalog {
  display: flex;
  justify-content: space-between;
}
.filters {
  width: 180px;

  /* Временно для сетки */
  min-height: 687px;
  /* Временно для сетки */
}
.filters-field {
  border: none;
}
.filters-label {
  color: rgba(0, 0, 0, 1);
}
.filters-label:hover,
.filters-trigger:hover + .filters-label,
.filters-trigger:focus + .filters-label {
  color: rgba(102, 61, 21, 1);
}
.filters-trigger:disabled + .filters-label {
  color: rgba(176, 174, 171, 1);
}

.goods {
  width: 700px;

  /* Временно для сетки */
  min-height: 687px;
  /* Временно для сетки */
}
.goods-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  list-style: none;
}
.goods-item {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;

  /* Временно для сетки */
  min-height: 285px;
  /* Временно для сетки */

  background-color: rgba(248, 248, 248, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.goods-item:nth-child(3n) {
  margin-right: 0;
}
.goods-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.item-link {
  color: rgba(0, 0, 0, 1);
}
.item-link:hover,
.item-link:focus {
  color: rgba(102, 61, 21, 1);
}
.item-link h3 {
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
}
.upper-text {
  text-transform: uppercase;
}
.item-price b {
  background-color: rgba(229, 229, 229, 1);
}
.goods-nav {
  margin: 0;
  padding: 0;

  /* Временно для сетки */
  min-height: 47px;
  /* Временно для сетки */

  list-style: none;
}
.goods-nav a {
  color: rgba(255, 255, 255, 1);

  background-color: rgba(0, 0, 0, 1);
}
.goods-nav a:hover,
.goods-nav a:focus {
  background-color: rgba(102, 61, 21, 1);
}
.goods-nav .goods-nav-current {
  color: rgba(0, 0, 0, 1);

  background-color: rgba(255, 255, 255, 1);
}

.item-container {
  display: flex;
  justify-content: space-between;
}
.item-gallery {
  width: 460px;

  /* Временно для сетки */
  min-height: 677px;
  /* Временно для сетки */
}
.mid-image img {
  width: 100%;
  height: auto;
}
.item-desc {
  width: 390px;

  /* Временно для сетки */
  min-height: 677px;
  /* Временно для сетки */
}

.promo-text {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 48px;
}
.price .headline {
  font-size: 24px;
  line-height: 30px;
}
.content-column {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 450px;
  margin-right: 20px;
}
.column:nth-child(2n) {
  margin-right: 0;
}
.promo-desc {
  margin-top: auto;
}

.footer {
  margin-top: 65px;
  padding: 60px 0;
  color: rgba(255, 255, 255, 1);

  background-color: #212121;
  background-image: url("img/bg-texture1.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}
.inner .footer {
  margin-top: 45px;
}
.footer .container {
  display: flex;
}
.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 80px;
}
.map-link {
  color: rgba(255, 255, 255, 1);
  text-decoration: underline;
}
.map-link:hover,
.map-link:focus {
  text-decoration: none;
}

.footer-social {
  width: 145px;
  text-align: center;
}
.footer-social ul {
  list-style: none;
}
.social-btn {
  color: rgba(255, 255, 255, 1);
}

.footer-copyright {
  width: 150px;
  margin-left: auto;
  text-align: center;
}
.copyright-btn:hover,
.copyright-btn:focus {
  color: rgba(0, 0, 0, 1);

  background-color: rgba(255, 255, 255, 1);
}

.modal {
  color: rgba(0, 0, 0, 1);

  background-color: rgba(248, 243, 240, 1);
  background-image: url("img/bg-texture.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}
.modal-field {
  font: inherit;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;

  background-color: rgba(249, 246, 243, 1);
  border: 2px solid rgba(0, 0, 0, 1);
}
.modal-field:focus {
  border-color: rgba(102, 61, 21, 1);
}
.modal-label:hover,
.modal-label:focus {
  color: rgba(102, 61, 21, 1);
}
.modal-link {
  color: rgba(0, 0, 0, 1);
  text-decoration: underline;
}
.modal-link:hover,
.modal-link:focus {
  text-decoration: none;
}